<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="utsg.utsg_dropin.bbtime">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/utsg_bb"
        android:label="UTSG Drop-In Basketball"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="utsg.utsg_dropin.bbtime.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>